li {
  background-color: var(--color-white);
  border-radius: var(--radius-1);
  border-left: 4px solid black;
  padding: 16px 8px;
  animation: opAnimation 0.3s ease-in-out;
}

li > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

li > div > p {
  font-weight: 600;
}

li > div > div {
  display: flex;
  align-items: center;
  gap: 64px;
}

li > div > div > button {
  background-color: var(--color-grey-3);
  padding: 8px;
  border-radius: var(--radius-1);
  color: var(--color-grey-1);
  cursor: pointer;
  transition: 0.3s;
}
li > div > div > button:hover {
  background-color: var(--color-grey-4);
}

li > small {
  font-size: 12px;
}

@keyframes opAnimation {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
