* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --color-primary: #fd377e;
  --color-primary-2: #e34981;
  --color-secondary: #03b898;
  --color-white: #fff;

  --color-grey-1: #f8f9fa;
  --color-grey-2: #e9ecef;
  --color-grey-3: #868e96;
  --color-grey-4: #212529;

  --radius-1: 8px;
}

img {
  max-width: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
  background: linear-gradient(
    0deg,
    var(--color-grey-4),
    var(--color-primary-2)
  );
}
